<html>
<head>
<title>Quickload</title>
<script>
  let upcode = "\\code" 
  let downcode = "\\code2"
  let size = window.innerHeight;
</script>
<script src = start.js></script>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<style>
  .dum button {
  height: 10%;
   background-color: black;
   color: white;
   border-radius: 10%;
   vertical-align: middle;
   text-align: center
};


</style>
<body>
  
  <img width = 5% class = "eviloctopus" src = "favicon.ico"> 

  <div height = 5%></div>
  
    <input type="text" name="Code" size="15">  <button id = "downb">Download file</button></br>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="upload">File:</label>
      <input type="file" name="upload" id="upload"><br/>
      <input type="submit" name="submit" value="Upload">
  </form>
  <script src = "start.js"></script>
  
 
</body>



</html>
