<html>
<head>
<title>Upload something</title>
<script>
  let upcode = "\\code"
  let downcode = "\\code2"
  let size = window.innerHeight;
</script>
<script src = start.js></script>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<style>
  button {
  height: 100%;
   background-color: black;
   color: white;
   border-radius: 10%
};
div{
  vertical-align: middle;
}

</style>
<body>
  
  <img width = 5% class = "eviloctopus" src = "favicon.ico"> 
  <nav>
    <button class="switch" id="downb">Nothing happens here</button>
    <button class="switch" id="upb">Nor here.</button>
  </nav>
  <div>
    <iframe id = "frame" height= 80% width= 50% src="uploadframe.html">  </iframe>
  </div>
  <script src = "start.js"></script>
  
 
</body>



</html>
